body {
    margin: 0;
    padding: 0;
}

header,
main {
    padding: 30px;
    background-color: lightgrey;

    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

header {
    margin-bottom: 10px;
}
