.overlay {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.7);
    z-index: 99;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 500px;
    height: auto;
    padding: 30px;
    box-sizing: border-box;

    background-color: white;
    border-radius: 5px;
    z-index: 999;
}

.modal label,
.modal input {
    width: 100%;
}

.modal input {
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid black;
}

.modal label {
    font-weight: 700;
}

.modal textarea {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid black;
}

.modal button {
    margin-right: 10px;
}

.modal .close-btn {
    position: absolute;
    top:45px;
    right: 15px;

    background-color: transparent;
    border: none;
    font-weight: 700;
}