.table-content {
    border-collapse: collapse;
}

.table-content__header {
    font-weight: 700;
}

.table-content__header td {
    width: 200px;
    text-align: center;
}

.table-content td {
    border: 1px solid black;
}

.paginator {
    margin-top: 20px;
}

.paginator button {
    margin-right: 10px;
}